src/main/resources/nifi_templates/Dropbox_Upload_Download.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template>
	<description>Template with flows to upload/download files from/to a
		Dropbox account.</description>
	<name>dropbox_template</name>
	<snippet>
		<connections>
			<id>63176109-663b-4a16-8893-c3f822384560</id>
			<parentGroupId>7650c1c1-3605-4f85-a98a-50613736ef3e</parentGroupId>
			<backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
			<backPressureObjectThreshold>0</backPressureObjectThreshold>
			<destination>
				<groupId>7650c1c1-3605-4f85-a98a-50613736ef3e</groupId>
				<id>1acde0fe-3216-4a99-aa5d-48ab9b1e59a9</id>
				<type>PROCESSOR</type>
			</destination>
			<flowFileExpiration>0 sec</flowFileExpiration>
			<labelIndex>1</labelIndex>
			<name></name>
			<selectedRelationships>Response</selectedRelationships>
			<source>
				<groupId>7650c1c1-3605-4f85-a98a-50613736ef3e</groupId>
				<id>1ac29d7e-fda7-4c2f-919a-5b05a9066008</id>
				<type>PROCESSOR</type>
			</source>
			<zIndex>0</zIndex>
		</connections>
		<connections>
			<id>e49fc943-5d96-45ef-afe1-89e5cc4cbf90</id>
			<parentGroupId>7650c1c1-3605-4f85-a98a-50613736ef3e</parentGroupId>
			<backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
			<backPressureObjectThreshold>0</backPressureObjectThreshold>
			<destination>
				<groupId>7650c1c1-3605-4f85-a98a-50613736ef3e</groupId>
				<id>191a49ea-0484-47d0-9463-e97e5512e8ef</id>
				<type>PROCESSOR</type>
			</destination>
			<flowFileExpiration>0 sec</flowFileExpiration>
			<labelIndex>1</labelIndex>
			<name></name>
			<selectedRelationships>split</selectedRelationships>
			<source>
				<groupId>7650c1c1-3605-4f85-a98a-50613736ef3e</groupId>
				<id>1acde0fe-3216-4a99-aa5d-48ab9b1e59a9</id>
				<type>PROCESSOR</type>
			</source>
			<zIndex>0</zIndex>
		</connections>
		<connections>
			<id>5b4b41c5-b163-41d7-aed8-29b235509a83</id>
			<parentGroupId>7650c1c1-3605-4f85-a98a-50613736ef3e</parentGroupId>
			<backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
			<backPressureObjectThreshold>0</backPressureObjectThreshold>
			<destination>
				<groupId>7650c1c1-3605-4f85-a98a-50613736ef3e</groupId>
				<id>1ac29d7e-fda7-4c2f-919a-5b05a9066008</id>
				<type>PROCESSOR</type>
			</destination>
			<flowFileExpiration>0 sec</flowFileExpiration>
			<labelIndex>1</labelIndex>
			<name></name>
			<selectedRelationships>success</selectedRelationships>
			<source>
				<groupId>7650c1c1-3605-4f85-a98a-50613736ef3e</groupId>
				<id>a6b43010-bd0e-44cb-a379-f363151879c9</id>
				<type>PROCESSOR</type>
			</source>
			<zIndex>0</zIndex>
		</connections>
		<connections>
			<id>b72309ae-2c6b-4df4-b3da-ed3572288788</id>
			<parentGroupId>7650c1c1-3605-4f85-a98a-50613736ef3e</parentGroupId>
			<backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
			<backPressureObjectThreshold>0</backPressureObjectThreshold>
			<destination>
				<groupId>7650c1c1-3605-4f85-a98a-50613736ef3e</groupId>
				<id>aa54f056-1613-40b4-850a-28c52c6d6ab7</id>
				<type>PROCESSOR</type>
			</destination>
			<flowFileExpiration>0 sec</flowFileExpiration>
			<labelIndex>1</labelIndex>
			<name></name>
			<selectedRelationships>success</selectedRelationships>
			<source>
				<groupId>7650c1c1-3605-4f85-a98a-50613736ef3e</groupId>
				<id>4a38933d-0cc8-4245-8fdd-feb3132e7c14</id>
				<type>PROCESSOR</type>
			</source>
			<zIndex>0</zIndex>
		</connections>
		<connections>
			<id>ae587c7a-bfc8-4f82-bdad-0b059fa9d6f4</id>
			<parentGroupId>7650c1c1-3605-4f85-a98a-50613736ef3e</parentGroupId>
			<backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
			<backPressureObjectThreshold>0</backPressureObjectThreshold>
			<destination>
				<groupId>7650c1c1-3605-4f85-a98a-50613736ef3e</groupId>
				<id>29f936b5-f597-479e-abcb-d989f48371d2</id>
				<type>PROCESSOR</type>
			</destination>
			<flowFileExpiration>0 sec</flowFileExpiration>
			<labelIndex>1</labelIndex>
			<name></name>
			<selectedRelationships>matched</selectedRelationships>
			<source>
				<groupId>7650c1c1-3605-4f85-a98a-50613736ef3e</groupId>
				<id>191a49ea-0484-47d0-9463-e97e5512e8ef</id>
				<type>PROCESSOR</type>
			</source>
			<zIndex>0</zIndex>
		</connections>
		<connections>
			<id>4a09f2be-01d4-4be3-9ea3-3b45ffa7de22</id>
			<parentGroupId>7650c1c1-3605-4f85-a98a-50613736ef3e</parentGroupId>
			<backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
			<backPressureObjectThreshold>0</backPressureObjectThreshold>
			<destination>
				<groupId>7650c1c1-3605-4f85-a98a-50613736ef3e</groupId>
				<id>af2914a5-088d-468b-8df4-59bc469fb07c</id>
				<type>PROCESSOR</type>
			</destination>
			<flowFileExpiration>0 sec</flowFileExpiration>
			<labelIndex>1</labelIndex>
			<name></name>
			<selectedRelationships>Response</selectedRelationships>
			<source>
				<groupId>7650c1c1-3605-4f85-a98a-50613736ef3e</groupId>
				<id>eaf9714a-44f4-49e8-a6bf-2bf1032a9023</id>
				<type>PROCESSOR</type>
			</source>
			<zIndex>0</zIndex>
		</connections>
		<connections>
			<id>0942db00-41e5-4a7f-9037-db2a9487f47f</id>
			<parentGroupId>7650c1c1-3605-4f85-a98a-50613736ef3e</parentGroupId>
			<backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
			<backPressureObjectThreshold>0</backPressureObjectThreshold>
			<destination>
				<groupId>7650c1c1-3605-4f85-a98a-50613736ef3e</groupId>
				<id>eaf9714a-44f4-49e8-a6bf-2bf1032a9023</id>
				<type>PROCESSOR</type>
			</destination>
			<flowFileExpiration>0 sec</flowFileExpiration>
			<labelIndex>1</labelIndex>
			<name></name>
			<selectedRelationships>success</selectedRelationships>
			<source>
				<groupId>7650c1c1-3605-4f85-a98a-50613736ef3e</groupId>
				<id>29f936b5-f597-479e-abcb-d989f48371d2</id>
				<type>PROCESSOR</type>
			</source>
			<zIndex>0</zIndex>
		</connections>
		<processors>
			<id>af2914a5-088d-468b-8df4-59bc469fb07c</id>
			<parentGroupId>7650c1c1-3605-4f85-a98a-50613736ef3e</parentGroupId>
			<position>
				<x>393.16699975412484</x>
				<y>528.2159777096401</y>
			</position>
			<config>
				<bulletinLevel>WARN</bulletinLevel>
				<comments></comments>
				<concurrentlySchedulableTaskCount>1
				</concurrentlySchedulableTaskCount>
				<defaultConcurrentTasks>
					<entry>
						<key>TIMER_DRIVEN</key>
						<value>1</value>
					</entry>
					<entry>
						<key>EVENT_DRIVEN</key>
						<value>0</value>
					</entry>
					<entry>
						<key>CRON_DRIVEN</key>
						<value>1</value>
					</entry>
				</defaultConcurrentTasks>
				<defaultSchedulingPeriod>
					<entry>
						<key>TIMER_DRIVEN</key>
						<value>0 sec</value>
					</entry>
					<entry>
						<key>CRON_DRIVEN</key>
						<value>* * * * * ?</value>
					</entry>
				</defaultSchedulingPeriod>
				<descriptors>
					<entry>
						<key>Directory</key>
						<value>
							<description>The directory to which files should be written. You
								may use expression language such as /aa/bb/${path}</description>
							<displayName>Directory</displayName>
							<dynamic>false</dynamic>
							<name>Directory</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>true</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Conflict Resolution Strategy</key>
						<value>
							<allowableValues>
								<displayName>replace</displayName>
								<value>replace</value>
							</allowableValues>
							<allowableValues>
								<displayName>ignore</displayName>
								<value>ignore</value>
							</allowableValues>
							<allowableValues>
								<displayName>fail</displayName>
								<value>fail</value>
							</allowableValues>
							<defaultValue>fail</defaultValue>
							<description>Indicates what should happen when a file with the
								same name already exists in the output directory</description>
							<displayName>Conflict Resolution Strategy</displayName>
							<dynamic>false</dynamic>
							<name>Conflict Resolution Strategy</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Create Missing Directories</key>
						<value>
							<allowableValues>
								<displayName>true</displayName>
								<value>true</value>
							</allowableValues>
							<allowableValues>
								<displayName>false</displayName>
								<value>false</value>
							</allowableValues>
							<defaultValue>true</defaultValue>
							<description>If true, then missing destination directories will
								be created. If false, flowfiles are penalized and sent to
								failure.</description>
							<displayName>Create Missing Directories</displayName>
							<dynamic>false</dynamic>
							<name>Create Missing Directories</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Maximum File Count</key>
						<value>
							<description>Specifies the maximum number of files that can exist
								in the output directory</description>
							<displayName>Maximum File Count</displayName>
							<dynamic>false</dynamic>
							<name>Maximum File Count</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Last Modified Time</key>
						<value>
							<description>Sets the lastModifiedTime on the output file to the
								value of this attribute. Format must be yyyy-MM-dd'T'HH:mm:ssZ.
								You may also use expression language such as
								${file.lastModifiedTime}.</description>
							<displayName>Last Modified Time</displayName>
							<dynamic>false</dynamic>
							<name>Last Modified Time</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>true</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Permissions</key>
						<value>
							<description>Sets the permissions on the output file to the value
								of this attribute. Format must be either UNIX rwxrwxrwx with a -
								in place of denied permissions (e.g. rw-r--r--) or an octal
								number (e.g. 644). You may also use expression language such as
								${file.permissions}.</description>
							<displayName>Permissions</displayName>
							<dynamic>false</dynamic>
							<name>Permissions</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>true</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Owner</key>
						<value>
							<description>Sets the owner on the output file to the value of
								this attribute. You may also use expression language such as
								${file.owner}.</description>
							<displayName>Owner</displayName>
							<dynamic>false</dynamic>
							<name>Owner</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>true</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Group</key>
						<value>
							<description>Sets the group on the output file to the value of
								this attribute. You may also use expression language such as
								${file.group}.</description>
							<displayName>Group</displayName>
							<dynamic>false</dynamic>
							<name>Group</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>true</supportsEl>
						</value>
					</entry>
				</descriptors>
				<lossTolerant>false</lossTolerant>
				<penaltyDuration>30 sec</penaltyDuration>
				<properties>
					<entry>
						<key>Directory</key>
						<value>/home/hdfs/nifi/response</value>
					</entry>
					<entry>
						<key>Conflict Resolution Strategy</key>
						<value>fail</value>
					</entry>
					<entry>
						<key>Create Missing Directories</key>
						<value>true</value>
					</entry>
					<entry>
						<key>Maximum File Count</key>
					</entry>
					<entry>
						<key>Last Modified Time</key>
					</entry>
					<entry>
						<key>Permissions</key>
					</entry>
					<entry>
						<key>Owner</key>
					</entry>
					<entry>
						<key>Group</key>
					</entry>
				</properties>
				<runDurationMillis>0</runDurationMillis>
				<schedulingPeriod>0 sec</schedulingPeriod>
				<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
				<yieldDuration>1 sec</yieldDuration>
			</config>
			<name>PutFile</name>
			<relationships>
				<autoTerminate>true</autoTerminate>
				<description>Files that could not be written to the output directory
					for some reason are transferred to this relationship</description>
				<name>failure</name>
			</relationships>
			<relationships>
				<autoTerminate>true</autoTerminate>
				<description>Files that have been successfully written to the output
					directory are transferred to this relationship</description>
				<name>success</name>
			</relationships>
			<state>STOPPED</state>
			<style />
			<supportsEventDriven>false</supportsEventDriven>
			<supportsParallelProcessing>true</supportsParallelProcessing>
			<type>org.apache.nifi.processors.standard.PutFile</type>
		</processors>
		<processors>
			<id>1ac29d7e-fda7-4c2f-919a-5b05a9066008</id>
			<parentGroupId>7650c1c1-3605-4f85-a98a-50613736ef3e</parentGroupId>
			<position>
				<x>940.6168563372503</x>
				<y>147.92464593687987</y>
			</position>
			<config>
				<bulletinLevel>WARN</bulletinLevel>
				<comments></comments>
				<concurrentlySchedulableTaskCount>1
				</concurrentlySchedulableTaskCount>
				<defaultConcurrentTasks>
					<entry>
						<key>TIMER_DRIVEN</key>
						<value>1</value>
					</entry>
					<entry>
						<key>EVENT_DRIVEN</key>
						<value>0</value>
					</entry>
					<entry>
						<key>CRON_DRIVEN</key>
						<value>1</value>
					</entry>
				</defaultConcurrentTasks>
				<defaultSchedulingPeriod>
					<entry>
						<key>TIMER_DRIVEN</key>
						<value>0 sec</value>
					</entry>
					<entry>
						<key>CRON_DRIVEN</key>
						<value>* * * * * ?</value>
					</entry>
				</defaultSchedulingPeriod>
				<descriptors>
					<entry>
						<key>HTTP Method</key>
						<value>
							<defaultValue>GET</defaultValue>
							<description>HTTP request method (GET, POST, PUT, DELETE, HEAD,
								OPTIONS). Arbitrary methods are also supported. Methods other
								than POST and PUT will be sent without a message body.
							</description>
							<displayName>HTTP Method</displayName>
							<dynamic>false</dynamic>
							<name>HTTP Method</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>true</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Remote URL</key>
						<value>
							<description>Remote URL which will be connected to, including
								scheme, host, port, path.</description>
							<displayName>Remote URL</displayName>
							<dynamic>false</dynamic>
							<name>Remote URL</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>true</supportsEl>
						</value>
					</entry>
					<entry>
						<key>SSL Context Service</key>
						<value>
							<description>The SSL Context Service used to provide client
								certificate information for TLS/SSL (https) connections.
							</description>
							<displayName>SSL Context Service</displayName>
							<dynamic>false</dynamic>
							<identifiesControllerService>org.apache.nifi.ssl.SSLContextService
							</identifiesControllerService>
							<name>SSL Context Service</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Connection Timeout</key>
						<value>
							<defaultValue>5 secs</defaultValue>
							<description>Max wait time for connection to remote service.
							</description>
							<displayName>Connection Timeout</displayName>
							<dynamic>false</dynamic>
							<name>Connection Timeout</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Read Timeout</key>
						<value>
							<defaultValue>15 secs</defaultValue>
							<description>Max wait time for response from remote service.
							</description>
							<displayName>Read Timeout</displayName>
							<dynamic>false</dynamic>
							<name>Read Timeout</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Include Date Header</key>
						<value>
							<allowableValues>
								<displayName>True</displayName>
								<value>True</value>
							</allowableValues>
							<allowableValues>
								<displayName>False</displayName>
								<value>False</value>
							</allowableValues>
							<defaultValue>True</defaultValue>
							<description>Include an RFC-2616 Date header in the request.
							</description>
							<displayName>Include Date Header</displayName>
							<dynamic>false</dynamic>
							<name>Include Date Header</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Follow Redirects</key>
						<value>
							<allowableValues>
								<displayName>True</displayName>
								<value>True</value>
							</allowableValues>
							<allowableValues>
								<displayName>False</displayName>
								<value>False</value>
							</allowableValues>
							<defaultValue>True</defaultValue>
							<description>Follow HTTP redirects issued by remote server.
							</description>
							<displayName>Follow Redirects</displayName>
							<dynamic>false</dynamic>
							<name>Follow Redirects</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Attributes to Send</key>
						<value>
							<description>Regular expression that defines which attributes to
								send as HTTP headers in the request. If not defined, no
								attributes are sent as headers. Also any dynamic properties set
								will be sent as headers. The dynamic property key will be the
								header key and the dynamic property value will be interpreted as
								expression language will be the header value.</description>
							<displayName>Attributes to Send</displayName>
							<dynamic>false</dynamic>
							<name>Attributes to Send</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Basic Authentication Username</key>
						<value>
							<description>The username to be used by the client to
								authenticate against the Remote URL. Cannot include control
								characters (0-31), ':', or DEL (127).</description>
							<displayName>Basic Authentication Username</displayName>
							<dynamic>false</dynamic>
							<name>Basic Authentication Username</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Basic Authentication Password</key>
						<value>
							<description>The password to be used by the client to
								authenticate against the Remote URL.</description>
							<displayName>Basic Authentication Password</displayName>
							<dynamic>false</dynamic>
							<name>Basic Authentication Password</name>
							<required>false</required>
							<sensitive>true</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Proxy Host</key>
						<value>
							<description>The fully qualified hostname or IP address of the
								proxy server</description>
							<displayName>Proxy Host</displayName>
							<dynamic>false</dynamic>
							<name>Proxy Host</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Proxy Port</key>
						<value>
							<description>The port of the proxy server</description>
							<displayName>Proxy Port</displayName>
							<dynamic>false</dynamic>
							<name>Proxy Port</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Put Response Body In Attribute</key>
						<value>
							<description>If set, the response body received back will be put
								into an attribute of the original FlowFile instead of a separate
								FlowFile. The attribute key to put to is determined by
								evaluating value of this property. </description>
							<displayName>Put Response Body In Attribute</displayName>
							<dynamic>false</dynamic>
							<name>Put Response Body In Attribute</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>true</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Max Length To Put In Attribute</key>
						<value>
							<defaultValue>256</defaultValue>
							<description>If routing the response body to an attribute of the
								original (by setting the &quot;Put response body in
								attribute&quot; property or by receiving an error status code),
								the number of characters put to the attribute value will be at
								most this amount. This is important because attributes are held
								in memory and large attributes will quickly cause out of memory
								issues. If the output goes longer than this value, it will be
								truncated to fit. Consider making this smaller if able.
							</description>
							<displayName>Max Length To Put In Attribute</displayName>
							<dynamic>false</dynamic>
							<name>Max Length To Put In Attribute</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Digest Authentication</key>
						<value>
							<allowableValues>
								<displayName>true</displayName>
								<value>true</value>
							</allowableValues>
							<allowableValues>
								<displayName>false</displayName>
								<value>false</value>
							</allowableValues>
							<defaultValue>false</defaultValue>
							<description>Whether to communicate with the website using Digest
								Authentication. 'Basic Authentication Username' and 'Basic
								Authentication Password' are used for authentication.
							</description>
							<displayName>Use Digest Authentication</displayName>
							<dynamic>false</dynamic>
							<name>Digest Authentication</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Always Output Response</key>
						<value>
							<allowableValues>
								<displayName>true</displayName>
								<value>true</value>
							</allowableValues>
							<allowableValues>
								<displayName>false</displayName>
								<value>false</value>
							</allowableValues>
							<defaultValue>false</defaultValue>
							<description>Will force a response FlowFile to be generated and
								routed to the 'Response' relationship regardless of what the
								server status code received is or if the processor is configured
								to put the server response body in the request attribute. In the
								later configuration a request FlowFile with the response body in
								the attribute and a typical response FlowFile will be emitted to
								their respective relationships.</description>
							<displayName>Always Output Response</displayName>
							<dynamic>false</dynamic>
							<name>Always Output Response</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Trusted Hostname</key>
						<value>
							<description>Bypass the normal truststore hostname verifier to
								allow the specified remote hostname as trusted. Enabling this
								property has MITM security implications, use wisely. Will still
								accept other connections based on the normal truststore hostname
								verifier. Only valid with SSL (HTTPS) connections.</description>
							<displayName>Trusted Hostname</displayName>
							<dynamic>false</dynamic>
							<name>Trusted Hostname</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Add Response Headers to Request</key>
						<value>
							<allowableValues>
								<displayName>true</displayName>
								<value>true</value>
							</allowableValues>
							<allowableValues>
								<displayName>false</displayName>
								<value>false</value>
							</allowableValues>
							<defaultValue>false</defaultValue>
							<description>Enabling this property saves all the response
								headers to the original request. This may be when the response
								headers are needed but a response is not generated due to the
								status code received.</description>
							<displayName>Add Response Headers to Request</displayName>
							<dynamic>false</dynamic>
							<name>Add Response Headers to Request</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Content-Type</key>
						<value>
							<defaultValue>${mime.type}</defaultValue>
							<description>The Content-Type to specify for when content is
								being transmitted through a PUT or POST.</description>
							<displayName>Content-Type</displayName>
							<dynamic>false</dynamic>
							<name>Content-Type</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>true</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Use Chunked Encoding</key>
						<value>
							<allowableValues>
								<displayName>true</displayName>
								<value>true</value>
							</allowableValues>
							<allowableValues>
								<displayName>false</displayName>
								<value>false</value>
							</allowableValues>
							<defaultValue>false</defaultValue>
							<description>When POST'ing or PUT'ing content set this property
								to true in order to not pass the 'Content-length' header and
								instead send 'Transfer-Encoding' with a value of 'chunked'. This
								will enable the data transfer mechanism which was introduced in
								HTTP 1.1 to pass data of unknown lengths in chunks.
							</description>
							<displayName>Use Chunked Encoding</displayName>
							<dynamic>false</dynamic>
							<name>Use Chunked Encoding</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Penalize on &quot;No Retry&quot;</key>
						<value>
							<allowableValues>
								<displayName>true</displayName>
								<value>true</value>
							</allowableValues>
							<allowableValues>
								<displayName>false</displayName>
								<value>false</value>
							</allowableValues>
							<defaultValue>false</defaultValue>
							<description>Enabling this property will penalize FlowFiles that
								are routed to the &quot;No Retry&quot; relationship.
							</description>
							<displayName>Penalize on &quot;No Retry&quot;</displayName>
							<dynamic>false</dynamic>
							<name>Penalize on &quot;No Retry&quot;</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Authorization</key>
						<value>
							<description></description>
							<displayName>Authorization</displayName>
							<dynamic>true</dynamic>
							<name>Authorization</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>true</supportsEl>
						</value>
					</entry>
				</descriptors>
				<lossTolerant>false</lossTolerant>
				<penaltyDuration>30 sec</penaltyDuration>
				<properties>
					<entry>
						<key>HTTP Method</key>
						<value>POST</value>
					</entry>
					<entry>
						<key>Remote URL</key>
						<value>https://api.dropboxapi.com/2-beta-2/files/list_folder
						</value>
					</entry>
					<entry>
						<key>SSL Context Service</key>
					</entry>
					<entry>
						<key>Connection Timeout</key>
						<value>5 secs</value>
					</entry>
					<entry>
						<key>Read Timeout</key>
						<value>15 secs</value>
					</entry>
					<entry>
						<key>Include Date Header</key>
						<value>True</value>
					</entry>
					<entry>
						<key>Follow Redirects</key>
						<value>True</value>
					</entry>
					<entry>
						<key>Attributes to Send</key>
					</entry>
					<entry>
						<key>Basic Authentication Username</key>
					</entry>
					<entry>
						<key>Basic Authentication Password</key>
					</entry>
					<entry>
						<key>Proxy Host</key>
					</entry>
					<entry>
						<key>Proxy Port</key>
					</entry>
					<entry>
						<key>Put Response Body In Attribute</key>
					</entry>
					<entry>
						<key>Max Length To Put In Attribute</key>
						<value>256</value>
					</entry>
					<entry>
						<key>Digest Authentication</key>
						<value>false</value>
					</entry>
					<entry>
						<key>Always Output Response</key>
						<value>true</value>
					</entry>
					<entry>
						<key>Trusted Hostname</key>
					</entry>
					<entry>
						<key>Add Response Headers to Request</key>
						<value>false</value>
					</entry>
					<entry>
						<key>Content-Type</key>
						<value>application/json</value>
					</entry>
					<entry>
						<key>Use Chunked Encoding</key>
						<value>false</value>
					</entry>
					<entry>
						<key>Penalize on &quot;No Retry&quot;</key>
						<value>false</value>
					</entry>
					<entry>
						<key>Authorization</key>
						<value>Bearer zSCLBwLpyHAAAAAAAAAFzvPryoQaeMq3Drnc3xecI-y5B2Yi-ECHEyBd2Z69hI3i</value>
					</entry>
				</properties>
				<runDurationMillis>0</runDurationMillis>
				<schedulingPeriod>0 sec</schedulingPeriod>
				<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
				<yieldDuration>1 sec</yieldDuration>
			</config>
			<name>InvokeHTTP</name>
			<relationships>
				<autoTerminate>true</autoTerminate>
				<description>The original FlowFile will be routed on any type of
					connection failure, timeout or general exception. It will have new
					attributes detailing the request.</description>
				<name>Failure</name>
			</relationships>
			<relationships>
				<autoTerminate>true</autoTerminate>
				<description>The original FlowFile will be routed on any status code
					that should NOT be retried (1xx, 3xx, 4xx status codes). It will
					have new attributes detailing the request.</description>
				<name>No Retry</name>
			</relationships>
			<relationships>
				<autoTerminate>true</autoTerminate>
				<description>The original FlowFile will be routed upon success (2xx
					status codes). It will have new attributes detailing the success of
					the request.</description>
				<name>Original</name>
			</relationships>
			<relationships>
				<autoTerminate>false</autoTerminate>
				<description>A Response FlowFile will be routed upon success (2xx
					status codes). If the 'Output Response Regardless' property is true
					then the response will be sent to this relationship regardless of
					the status code received.</description>
				<name>Response</name>
			</relationships>
			<relationships>
				<autoTerminate>true</autoTerminate>
				<description>The original FlowFile will be routed on any status code
					that can be retried (5xx status codes). It will have new attributes
					detailing the request.</description>
				<name>Retry</name>
			</relationships>
			<state>STOPPED</state>
			<style />
			<supportsEventDriven>false</supportsEventDriven>
			<supportsParallelProcessing>true</supportsParallelProcessing>
			<type>org.apache.nifi.processors.standard.InvokeHTTP</type>
		</processors>
		<processors>
			<id>4a38933d-0cc8-4245-8fdd-feb3132e7c14</id>
			<parentGroupId>7650c1c1-3605-4f85-a98a-50613736ef3e</parentGroupId>
			<position>
				<x>888.0</x>
				<y>535.0</y>
			</position>
			<config>
				<bulletinLevel>WARN</bulletinLevel>
				<comments></comments>
				<concurrentlySchedulableTaskCount>1
				</concurrentlySchedulableTaskCount>
				<defaultConcurrentTasks>
					<entry>
						<key>TIMER_DRIVEN</key>
						<value>1</value>
					</entry>
					<entry>
						<key>EVENT_DRIVEN</key>
						<value>0</value>
					</entry>
					<entry>
						<key>CRON_DRIVEN</key>
						<value>1</value>
					</entry>
				</defaultConcurrentTasks>
				<defaultSchedulingPeriod>
					<entry>
						<key>TIMER_DRIVEN</key>
						<value>0 sec</value>
					</entry>
					<entry>
						<key>CRON_DRIVEN</key>
						<value>* * * * * ?</value>
					</entry>
				</defaultSchedulingPeriod>
				<descriptors>
					<entry>
						<key>Input Directory</key>
						<value>
							<description>The input directory from which to pull files
							</description>
							<displayName>Input Directory</displayName>
							<dynamic>false</dynamic>
							<name>Input Directory</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>true</supportsEl>
						</value>
					</entry>
					<entry>
						<key>File Filter</key>
						<value>
							<defaultValue>[^\.].*</defaultValue>
							<description>Only files whose names match the given regular
								expression will be picked up</description>
							<displayName>File Filter</displayName>
							<dynamic>false</dynamic>
							<name>File Filter</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Path Filter</key>
						<value>
							<description>When Recurse Subdirectories is true, then only
								subdirectories whose path matches the given regular expression
								will be scanned</description>
							<displayName>Path Filter</displayName>
							<dynamic>false</dynamic>
							<name>Path Filter</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Batch Size</key>
						<value>
							<defaultValue>10</defaultValue>
							<description>The maximum number of files to pull in each
								iteration</description>
							<displayName>Batch Size</displayName>
							<dynamic>false</dynamic>
							<name>Batch Size</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Keep Source File</key>
						<value>
							<allowableValues>
								<displayName>true</displayName>
								<value>true</value>
							</allowableValues>
							<allowableValues>
								<displayName>false</displayName>
								<value>false</value>
							</allowableValues>
							<defaultValue>false</defaultValue>
							<description>If true, the file is not deleted after it has been
								copied to the Content Repository; this causes the file to be
								picked up continually and is useful for testing purposes. If not
								keeping original NiFi will need write permissions on the
								directory it is pulling from otherwise it will ignore the file.
							</description>
							<displayName>Keep Source File</displayName>
							<dynamic>false</dynamic>
							<name>Keep Source File</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Recurse Subdirectories</key>
						<value>
							<allowableValues>
								<displayName>true</displayName>
								<value>true</value>
							</allowableValues>
							<allowableValues>
								<displayName>false</displayName>
								<value>false</value>
							</allowableValues>
							<defaultValue>true</defaultValue>
							<description>Indicates whether or not to pull files from
								subdirectories</description>
							<displayName>Recurse Subdirectories</displayName>
							<dynamic>false</dynamic>
							<name>Recurse Subdirectories</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Polling Interval</key>
						<value>
							<defaultValue>0 sec</defaultValue>
							<description>Indicates how long to wait before performing a
								directory listing</description>
							<displayName>Polling Interval</displayName>
							<dynamic>false</dynamic>
							<name>Polling Interval</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Ignore Hidden Files</key>
						<value>
							<allowableValues>
								<displayName>true</displayName>
								<value>true</value>
							</allowableValues>
							<allowableValues>
								<displayName>false</displayName>
								<value>false</value>
							</allowableValues>
							<defaultValue>true</defaultValue>
							<description>Indicates whether or not hidden files should be
								ignored</description>
							<displayName>Ignore Hidden Files</displayName>
							<dynamic>false</dynamic>
							<name>Ignore Hidden Files</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Minimum File Age</key>
						<value>
							<defaultValue>0 sec</defaultValue>
							<description>The minimum age that a file must be in order to be
								pulled; any file younger than this amount of time (according to
								last modification date) will be ignored</description>
							<displayName>Minimum File Age</displayName>
							<dynamic>false</dynamic>
							<name>Minimum File Age</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Maximum File Age</key>
						<value>
							<description>The maximum age that a file must be in order to be
								pulled; any file older than this amount of time (according to
								last modification date) will be ignored</description>
							<displayName>Maximum File Age</displayName>
							<dynamic>false</dynamic>
							<name>Maximum File Age</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Minimum File Size</key>
						<value>
							<defaultValue>0 B</defaultValue>
							<description>The minimum size that a file must be in order to be
								pulled</description>
							<displayName>Minimum File Size</displayName>
							<dynamic>false</dynamic>
							<name>Minimum File Size</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Maximum File Size</key>
						<value>
							<description>The maximum size that a file can be in order to be
								pulled</description>
							<displayName>Maximum File Size</displayName>
							<dynamic>false</dynamic>
							<name>Maximum File Size</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
				</descriptors>
				<lossTolerant>false</lossTolerant>
				<penaltyDuration>30 sec</penaltyDuration>
				<properties>
					<entry>
						<key>Input Directory</key>
						<value>/home/hdfs/nifi</value>
					</entry>
					<entry>
						<key>File Filter</key>
						<value>list_files.json</value>
					</entry>
					<entry>
						<key>Path Filter</key>
					</entry>
					<entry>
						<key>Batch Size</key>
						<value>1</value>
					</entry>
					<entry>
						<key>Keep Source File</key>
						<value>true</value>
					</entry>
					<entry>
						<key>Recurse Subdirectories</key>
						<value>false</value>
					</entry>
					<entry>
						<key>Polling Interval</key>
						<value>0 sec</value>
					</entry>
					<entry>
						<key>Ignore Hidden Files</key>
						<value>true</value>
					</entry>
					<entry>
						<key>Minimum File Age</key>
						<value>0 sec</value>
					</entry>
					<entry>
						<key>Maximum File Age</key>
					</entry>
					<entry>
						<key>Minimum File Size</key>
						<value>0 B</value>
					</entry>
					<entry>
						<key>Maximum File Size</key>
					</entry>
				</properties>
				<runDurationMillis>0</runDurationMillis>
				<schedulingPeriod>*/5 * * * * ?</schedulingPeriod>
				<schedulingStrategy>CRON_DRIVEN</schedulingStrategy>
				<yieldDuration>1 sec</yieldDuration>
			</config>
			<name>GetFile</name>
			<relationships>
				<autoTerminate>false</autoTerminate>
				<description>All files are routed to success</description>
				<name>success</name>
			</relationships>
			<state>STOPPED</state>
			<style />
			<supportsEventDriven>false</supportsEventDriven>
			<supportsParallelProcessing>true</supportsParallelProcessing>
			<type>org.apache.nifi.processors.standard.GetFile</type>
		</processors>
		<processors>
			<id>1acde0fe-3216-4a99-aa5d-48ab9b1e59a9</id>
			<parentGroupId>7650c1c1-3605-4f85-a98a-50613736ef3e</parentGroupId>
			<position>
				<x>1479.0022308140565</x>
				<y>143.14845640794283</y>
			</position>
			<config>
				<bulletinLevel>WARN</bulletinLevel>
				<comments></comments>
				<concurrentlySchedulableTaskCount>1
				</concurrentlySchedulableTaskCount>
				<defaultConcurrentTasks>
					<entry>
						<key>TIMER_DRIVEN</key>
						<value>1</value>
					</entry>
					<entry>
						<key>EVENT_DRIVEN</key>
						<value>0</value>
					</entry>
					<entry>
						<key>CRON_DRIVEN</key>
						<value>1</value>
					</entry>
				</defaultConcurrentTasks>
				<defaultSchedulingPeriod>
					<entry>
						<key>TIMER_DRIVEN</key>
						<value>0 sec</value>
					</entry>
					<entry>
						<key>CRON_DRIVEN</key>
						<value>* * * * * ?</value>
					</entry>
				</defaultSchedulingPeriod>
				<descriptors>
					<entry>
						<key>JsonPath Expression</key>
						<value>
							<description>A JsonPath expression that indicates the array
								element to split into JSON/scalar fragments.</description>
							<displayName>JsonPath Expression</displayName>
							<dynamic>false</dynamic>
							<name>JsonPath Expression</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Null Value Representation</key>
						<value>
							<allowableValues>
								<displayName>the string 'null'</displayName>
								<value>the string 'null'</value>
							</allowableValues>
							<allowableValues>
								<displayName>empty string</displayName>
								<value>empty string</value>
							</allowableValues>
							<defaultValue>empty string</defaultValue>
							<description>Indicates the desired representation of JSON Path
								expressions resulting in a null value.</description>
							<displayName>Null Value Representation</displayName>
							<dynamic>false</dynamic>
							<name>Null Value Representation</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
				</descriptors>
				<lossTolerant>false</lossTolerant>
				<penaltyDuration>30 sec</penaltyDuration>
				<properties>
					<entry>
						<key>JsonPath Expression</key>
						<value>entries</value>
					</entry>
					<entry>
						<key>Null Value Representation</key>
						<value>empty string</value>
					</entry>
				</properties>
				<runDurationMillis>0</runDurationMillis>
				<schedulingPeriod>0 sec</schedulingPeriod>
				<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
				<yieldDuration>1 sec</yieldDuration>
			</config>
			<name>SplitJson</name>
			<relationships>
				<autoTerminate>true</autoTerminate>
				<description>If a FlowFile fails processing for any reason (for
					example, the FlowFile is not valid JSON or the specified path does
					not exist), it will be routed to this relationship</description>
				<name>failure</name>
			</relationships>
			<relationships>
				<autoTerminate>true</autoTerminate>
				<description>The original FlowFile that was split into segments. If
					the FlowFile fails processing, nothing will be sent to this
					relationship</description>
				<name>original</name>
			</relationships>
			<relationships>
				<autoTerminate>false</autoTerminate>
				<description>All segments of the original FlowFile will be routed to
					this relationship</description>
				<name>split</name>
			</relationships>
			<state>STOPPED</state>
			<style />
			<supportsEventDriven>true</supportsEventDriven>
			<supportsParallelProcessing>true</supportsParallelProcessing>
			<type>org.apache.nifi.processors.standard.SplitJson</type>
		</processors>
		<processors>
			<id>aa54f056-1613-40b4-850a-28c52c6d6ab7</id>
			<parentGroupId>7650c1c1-3605-4f85-a98a-50613736ef3e</parentGroupId>
			<position>
				<x>1493.5838973528753</x>
				<y>537.2581115130517</y>
			</position>
			<config>
				<bulletinLevel>WARN</bulletinLevel>
				<comments></comments>
				<concurrentlySchedulableTaskCount>1
				</concurrentlySchedulableTaskCount>
				<defaultConcurrentTasks>
					<entry>
						<key>TIMER_DRIVEN</key>
						<value>1</value>
					</entry>
					<entry>
						<key>EVENT_DRIVEN</key>
						<value>0</value>
					</entry>
					<entry>
						<key>CRON_DRIVEN</key>
						<value>1</value>
					</entry>
				</defaultConcurrentTasks>
				<defaultSchedulingPeriod>
					<entry>
						<key>TIMER_DRIVEN</key>
						<value>0 sec</value>
					</entry>
					<entry>
						<key>CRON_DRIVEN</key>
						<value>* * * * * ?</value>
					</entry>
				</defaultSchedulingPeriod>
				<descriptors>
					<entry>
						<key>HTTP Method</key>
						<value>
							<defaultValue>GET</defaultValue>
							<description>HTTP request method (GET, POST, PUT, DELETE, HEAD,
								OPTIONS). Arbitrary methods are also supported. Methods other
								than POST and PUT will be sent without a message body.
							</description>
							<displayName>HTTP Method</displayName>
							<dynamic>false</dynamic>
							<name>HTTP Method</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>true</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Remote URL</key>
						<value>
							<description>Remote URL which will be connected to, including
								scheme, host, port, path.</description>
							<displayName>Remote URL</displayName>
							<dynamic>false</dynamic>
							<name>Remote URL</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>true</supportsEl>
						</value>
					</entry>
					<entry>
						<key>SSL Context Service</key>
						<value>
							<description>The SSL Context Service used to provide client
								certificate information for TLS/SSL (https) connections.
							</description>
							<displayName>SSL Context Service</displayName>
							<dynamic>false</dynamic>
							<identifiesControllerService>org.apache.nifi.ssl.SSLContextService
							</identifiesControllerService>
							<name>SSL Context Service</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Connection Timeout</key>
						<value>
							<defaultValue>5 secs</defaultValue>
							<description>Max wait time for connection to remote service.
							</description>
							<displayName>Connection Timeout</displayName>
							<dynamic>false</dynamic>
							<name>Connection Timeout</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Read Timeout</key>
						<value>
							<defaultValue>15 secs</defaultValue>
							<description>Max wait time for response from remote service.
							</description>
							<displayName>Read Timeout</displayName>
							<dynamic>false</dynamic>
							<name>Read Timeout</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Include Date Header</key>
						<value>
							<allowableValues>
								<displayName>True</displayName>
								<value>True</value>
							</allowableValues>
							<allowableValues>
								<displayName>False</displayName>
								<value>False</value>
							</allowableValues>
							<defaultValue>True</defaultValue>
							<description>Include an RFC-2616 Date header in the request.
							</description>
							<displayName>Include Date Header</displayName>
							<dynamic>false</dynamic>
							<name>Include Date Header</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Follow Redirects</key>
						<value>
							<allowableValues>
								<displayName>True</displayName>
								<value>True</value>
							</allowableValues>
							<allowableValues>
								<displayName>False</displayName>
								<value>False</value>
							</allowableValues>
							<defaultValue>True</defaultValue>
							<description>Follow HTTP redirects issued by remote server.
							</description>
							<displayName>Follow Redirects</displayName>
							<dynamic>false</dynamic>
							<name>Follow Redirects</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Attributes to Send</key>
						<value>
							<description>Regular expression that defines which attributes to
								send as HTTP headers in the request. If not defined, no
								attributes are sent as headers. Also any dynamic properties set
								will be sent as headers. The dynamic property key will be the
								header key and the dynamic property value will be interpreted as
								expression language will be the header value.</description>
							<displayName>Attributes to Send</displayName>
							<dynamic>false</dynamic>
							<name>Attributes to Send</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Basic Authentication Username</key>
						<value>
							<description>The username to be used by the client to
								authenticate against the Remote URL. Cannot include control
								characters (0-31), ':', or DEL (127).</description>
							<displayName>Basic Authentication Username</displayName>
							<dynamic>false</dynamic>
							<name>Basic Authentication Username</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Basic Authentication Password</key>
						<value>
							<description>The password to be used by the client to
								authenticate against the Remote URL.</description>
							<displayName>Basic Authentication Password</displayName>
							<dynamic>false</dynamic>
							<name>Basic Authentication Password</name>
							<required>false</required>
							<sensitive>true</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Proxy Host</key>
						<value>
							<description>The fully qualified hostname or IP address of the
								proxy server</description>
							<displayName>Proxy Host</displayName>
							<dynamic>false</dynamic>
							<name>Proxy Host</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Proxy Port</key>
						<value>
							<description>The port of the proxy server</description>
							<displayName>Proxy Port</displayName>
							<dynamic>false</dynamic>
							<name>Proxy Port</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Put Response Body In Attribute</key>
						<value>
							<description>If set, the response body received back will be put
								into an attribute of the original FlowFile instead of a separate
								FlowFile. The attribute key to put to is determined by
								evaluating value of this property. </description>
							<displayName>Put Response Body In Attribute</displayName>
							<dynamic>false</dynamic>
							<name>Put Response Body In Attribute</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>true</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Max Length To Put In Attribute</key>
						<value>
							<defaultValue>256</defaultValue>
							<description>If routing the response body to an attribute of the
								original (by setting the &quot;Put response body in
								attribute&quot; property or by receiving an error status code),
								the number of characters put to the attribute value will be at
								most this amount. This is important because attributes are held
								in memory and large attributes will quickly cause out of memory
								issues. If the output goes longer than this value, it will be
								truncated to fit. Consider making this smaller if able.
							</description>
							<displayName>Max Length To Put In Attribute</displayName>
							<dynamic>false</dynamic>
							<name>Max Length To Put In Attribute</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Digest Authentication</key>
						<value>
							<allowableValues>
								<displayName>true</displayName>
								<value>true</value>
							</allowableValues>
							<allowableValues>
								<displayName>false</displayName>
								<value>false</value>
							</allowableValues>
							<defaultValue>false</defaultValue>
							<description>Whether to communicate with the website using Digest
								Authentication. 'Basic Authentication Username' and 'Basic
								Authentication Password' are used for authentication.
							</description>
							<displayName>Use Digest Authentication</displayName>
							<dynamic>false</dynamic>
							<name>Digest Authentication</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Always Output Response</key>
						<value>
							<allowableValues>
								<displayName>true</displayName>
								<value>true</value>
							</allowableValues>
							<allowableValues>
								<displayName>false</displayName>
								<value>false</value>
							</allowableValues>
							<defaultValue>false</defaultValue>
							<description>Will force a response FlowFile to be generated and
								routed to the 'Response' relationship regardless of what the
								server status code received is or if the processor is configured
								to put the server response body in the request attribute. In the
								later configuration a request FlowFile with the response body in
								the attribute and a typical response FlowFile will be emitted to
								their respective relationships.</description>
							<displayName>Always Output Response</displayName>
							<dynamic>false</dynamic>
							<name>Always Output Response</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Trusted Hostname</key>
						<value>
							<description>Bypass the normal truststore hostname verifier to
								allow the specified remote hostname as trusted. Enabling this
								property has MITM security implications, use wisely. Will still
								accept other connections based on the normal truststore hostname
								verifier. Only valid with SSL (HTTPS) connections.</description>
							<displayName>Trusted Hostname</displayName>
							<dynamic>false</dynamic>
							<name>Trusted Hostname</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Add Response Headers to Request</key>
						<value>
							<allowableValues>
								<displayName>true</displayName>
								<value>true</value>
							</allowableValues>
							<allowableValues>
								<displayName>false</displayName>
								<value>false</value>
							</allowableValues>
							<defaultValue>false</defaultValue>
							<description>Enabling this property saves all the response
								headers to the original request. This may be when the response
								headers are needed but a response is not generated due to the
								status code received.</description>
							<displayName>Add Response Headers to Request</displayName>
							<dynamic>false</dynamic>
							<name>Add Response Headers to Request</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Content-Type</key>
						<value>
							<defaultValue>${mime.type}</defaultValue>
							<description>The Content-Type to specify for when content is
								being transmitted through a PUT or POST.</description>
							<displayName>Content-Type</displayName>
							<dynamic>false</dynamic>
							<name>Content-Type</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>true</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Use Chunked Encoding</key>
						<value>
							<allowableValues>
								<displayName>true</displayName>
								<value>true</value>
							</allowableValues>
							<allowableValues>
								<displayName>false</displayName>
								<value>false</value>
							</allowableValues>
							<defaultValue>false</defaultValue>
							<description>When POST'ing or PUT'ing content set this property
								to true in order to not pass the 'Content-length' header and
								instead send 'Transfer-Encoding' with a value of 'chunked'. This
								will enable the data transfer mechanism which was introduced in
								HTTP 1.1 to pass data of unknown lengths in chunks.
							</description>
							<displayName>Use Chunked Encoding</displayName>
							<dynamic>false</dynamic>
							<name>Use Chunked Encoding</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Penalize on &quot;No Retry&quot;</key>
						<value>
							<allowableValues>
								<displayName>true</displayName>
								<value>true</value>
							</allowableValues>
							<allowableValues>
								<displayName>false</displayName>
								<value>false</value>
							</allowableValues>
							<defaultValue>false</defaultValue>
							<description>Enabling this property will penalize FlowFiles that
								are routed to the &quot;No Retry&quot; relationship.
							</description>
							<displayName>Penalize on &quot;No Retry&quot;</displayName>
							<dynamic>false</dynamic>
							<name>Penalize on &quot;No Retry&quot;</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Authorization</key>
						<value>
							<description></description>
							<displayName>Authorization</displayName>
							<dynamic>true</dynamic>
							<name>Authorization</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>true</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Dropbox-API-Arg</key>
						<value>
							<description></description>
							<displayName>Dropbox-API-Arg</displayName>
							<dynamic>true</dynamic>
							<name>Dropbox-API-Arg</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>true</supportsEl>
						</value>
					</entry>
				</descriptors>
				<lossTolerant>false</lossTolerant>
				<penaltyDuration>30 sec</penaltyDuration>
				<properties>
					<entry>
						<key>HTTP Method</key>
						<value>POST</value>
					</entry>
					<entry>
						<key>Remote URL</key>
						<value>https://content.dropboxapi.com/2-beta-2/files/upload
						</value>
					</entry>
					<entry>
						<key>SSL Context Service</key>
					</entry>
					<entry>
						<key>Connection Timeout</key>
						<value>5 secs</value>
					</entry>
					<entry>
						<key>Read Timeout</key>
						<value>15 secs</value>
					</entry>
					<entry>
						<key>Include Date Header</key>
						<value>True</value>
					</entry>
					<entry>
						<key>Follow Redirects</key>
						<value>True</value>
					</entry>
					<entry>
						<key>Attributes to Send</key>
					</entry>
					<entry>
						<key>Basic Authentication Username</key>
					</entry>
					<entry>
						<key>Basic Authentication Password</key>
					</entry>
					<entry>
						<key>Proxy Host</key>
					</entry>
					<entry>
						<key>Proxy Port</key>
					</entry>
					<entry>
						<key>Put Response Body In Attribute</key>
					</entry>
					<entry>
						<key>Max Length To Put In Attribute</key>
						<value>256</value>
					</entry>
					<entry>
						<key>Digest Authentication</key>
						<value>false</value>
					</entry>
					<entry>
						<key>Always Output Response</key>
						<value>true</value>
					</entry>
					<entry>
						<key>Trusted Hostname</key>
					</entry>
					<entry>
						<key>Add Response Headers to Request</key>
						<value>false</value>
					</entry>
					<entry>
						<key>Content-Type</key>
						<value>application/octet-stream</value>
					</entry>
					<entry>
						<key>Use Chunked Encoding</key>
						<value>false</value>
					</entry>
					<entry>
						<key>Penalize on &quot;No Retry&quot;</key>
						<value>false</value>
					</entry>
					<entry>
						<key>Authorization</key>
						<value>Bearer zSCLBwLpyHAAAAAAAAAFzvPryoQaeMq3Drnc3xecI-y5B2Yi-ECHEyBd2Z69hI3i</value>
					</entry>
					<entry>
						<key>Dropbox-API-Arg</key>
						<value>{&quot;path&quot;: &quot;/${filename}&quot;,&quot;mode&quot;: &quot;overwrite&quot;}</value>
					</entry>
				</properties>
				<runDurationMillis>0</runDurationMillis>
				<schedulingPeriod>0 sec</schedulingPeriod>
				<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
				<yieldDuration>1 sec</yieldDuration>
			</config>
			<name>InvokeHTTP</name>
			<relationships>
				<autoTerminate>true</autoTerminate>
				<description>The original FlowFile will be routed on any type of
					connection failure, timeout or general exception. It will have new
					attributes detailing the request.</description>
				<name>Failure</name>
			</relationships>
			<relationships>
				<autoTerminate>true</autoTerminate>
				<description>The original FlowFile will be routed on any status code
					that should NOT be retried (1xx, 3xx, 4xx status codes). It will
					have new attributes detailing the request.</description>
				<name>No Retry</name>
			</relationships>
			<relationships>
				<autoTerminate>true</autoTerminate>
				<description>The original FlowFile will be routed upon success (2xx
					status codes). It will have new attributes detailing the success of
					the request.</description>
				<name>Original</name>
			</relationships>
			<relationships>
				<autoTerminate>true</autoTerminate>
				<description>A Response FlowFile will be routed upon success (2xx
					status codes). If the 'Output Response Regardless' property is true
					then the response will be sent to this relationship regardless of
					the status code received.</description>
				<name>Response</name>
			</relationships>
			<relationships>
				<autoTerminate>true</autoTerminate>
				<description>The original FlowFile will be routed on any status code
					that can be retried (5xx status codes). It will have new attributes
					detailing the request.</description>
				<name>Retry</name>
			</relationships>
			<state>STOPPED</state>
			<style />
			<supportsEventDriven>false</supportsEventDriven>
			<supportsParallelProcessing>true</supportsParallelProcessing>
			<type>org.apache.nifi.processors.standard.InvokeHTTP</type>
		</processors>
		<processors>
			<id>191a49ea-0484-47d0-9463-e97e5512e8ef</id>
			<parentGroupId>7650c1c1-3605-4f85-a98a-50613736ef3e</parentGroupId>
			<position>
				<x>1478.0008135706057</x>
				<y>333.3983520451035</y>
			</position>
			<config>
				<bulletinLevel>WARN</bulletinLevel>
				<comments></comments>
				<concurrentlySchedulableTaskCount>1
				</concurrentlySchedulableTaskCount>
				<defaultConcurrentTasks>
					<entry>
						<key>TIMER_DRIVEN</key>
						<value>1</value>
					</entry>
					<entry>
						<key>EVENT_DRIVEN</key>
						<value>0</value>
					</entry>
					<entry>
						<key>CRON_DRIVEN</key>
						<value>1</value>
					</entry>
				</defaultConcurrentTasks>
				<defaultSchedulingPeriod>
					<entry>
						<key>TIMER_DRIVEN</key>
						<value>0 sec</value>
					</entry>
					<entry>
						<key>CRON_DRIVEN</key>
						<value>* * * * * ?</value>
					</entry>
				</defaultSchedulingPeriod>
				<descriptors>
					<entry>
						<key>Destination</key>
						<value>
							<allowableValues>
								<displayName>flowfile-content</displayName>
								<value>flowfile-content</value>
							</allowableValues>
							<allowableValues>
								<displayName>flowfile-attribute</displayName>
								<value>flowfile-attribute</value>
							</allowableValues>
							<defaultValue>flowfile-content</defaultValue>
							<description>Indicates whether the results of the JsonPath
								evaluation are written to the FlowFile content or a FlowFile
								attribute; if using attribute, must specify the Attribute Name
								property. If set to flowfile-content, only one JsonPath may be
								specified, and the property name is ignored.</description>
							<displayName>Destination</displayName>
							<dynamic>false</dynamic>
							<name>Destination</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Return Type</key>
						<value>
							<allowableValues>
								<displayName>auto-detect</displayName>
								<value>auto-detect</value>
							</allowableValues>
							<allowableValues>
								<displayName>json</displayName>
								<value>json</value>
							</allowableValues>
							<allowableValues>
								<displayName>scalar</displayName>
								<value>scalar</value>
							</allowableValues>
							<defaultValue>auto-detect</defaultValue>
							<description>Indicates the desired return type of the JSON Path
								expressions. Selecting 'auto-detect' will set the return type to
								'json' for a Destination of 'flowfile-content', and 'scalar' for
								a Destination of 'flowfile-attribute'.</description>
							<displayName>Return Type</displayName>
							<dynamic>false</dynamic>
							<name>Return Type</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Path Not Found Behavior</key>
						<value>
							<allowableValues>
								<displayName>warn</displayName>
								<value>warn</value>
							</allowableValues>
							<allowableValues>
								<displayName>ignore</displayName>
								<value>ignore</value>
							</allowableValues>
							<defaultValue>ignore</defaultValue>
							<description>Indicates how to handle missing JSON path
								expressions when destination is set to 'flowfile-attribute'.
								Selecting 'warn' will generate a warning when a JSON path
								expression is not found.</description>
							<displayName>Path Not Found Behavior</displayName>
							<dynamic>false</dynamic>
							<name>Path Not Found Behavior</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Null Value Representation</key>
						<value>
							<allowableValues>
								<displayName>the string 'null'</displayName>
								<value>the string 'null'</value>
							</allowableValues>
							<allowableValues>
								<displayName>empty string</displayName>
								<value>empty string</value>
							</allowableValues>
							<defaultValue>empty string</defaultValue>
							<description>Indicates the desired representation of JSON Path
								expressions resulting in a null value.</description>
							<displayName>Null Value Representation</displayName>
							<dynamic>false</dynamic>
							<name>Null Value Representation</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>filename</key>
						<value>
							<description></description>
							<displayName>filename</displayName>
							<dynamic>true</dynamic>
							<name>filename</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>path_lower</key>
						<value>
							<description></description>
							<displayName>path_lower</displayName>
							<dynamic>true</dynamic>
							<name>path_lower</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
				</descriptors>
				<lossTolerant>false</lossTolerant>
				<penaltyDuration>30 sec</penaltyDuration>
				<properties>
					<entry>
						<key>Destination</key>
						<value>flowfile-attribute</value>
					</entry>
					<entry>
						<key>Return Type</key>
						<value>auto-detect</value>
					</entry>
					<entry>
						<key>Path Not Found Behavior</key>
						<value>warn</value>
					</entry>
					<entry>
						<key>Null Value Representation</key>
						<value>empty string</value>
					</entry>
					<entry>
						<key>filename</key>
						<value>name</value>
					</entry>
					<entry>
						<key>path_lower</key>
						<value>path_lower</value>
					</entry>
				</properties>
				<runDurationMillis>0</runDurationMillis>
				<schedulingPeriod>0 sec</schedulingPeriod>
				<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
				<yieldDuration>1 sec</yieldDuration>
			</config>
			<name>EvaluateJsonPath</name>
			<relationships>
				<autoTerminate>true</autoTerminate>
				<description>FlowFiles are routed to this relationship when the
					JsonPath cannot be evaluated against the content of the FlowFile;
					for instance, if the FlowFile is not valid JSON</description>
				<name>failure</name>
			</relationships>
			<relationships>
				<autoTerminate>false</autoTerminate>
				<description>FlowFiles are routed to this relationship when the
					JsonPath is successfully evaluated and the FlowFile is modified as
					a result</description>
				<name>matched</name>
			</relationships>
			<relationships>
				<autoTerminate>true</autoTerminate>
				<description>FlowFiles are routed to this relationship when the
					JsonPath does not match the content of the FlowFile and the
					Destination is set to flowfile-content</description>
				<name>unmatched</name>
			</relationships>
			<state>STOPPED</state>
			<style />
			<supportsEventDriven>true</supportsEventDriven>
			<supportsParallelProcessing>true</supportsParallelProcessing>
			<type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
		</processors>
		<processors>
			<id>29f936b5-f597-479e-abcb-d989f48371d2</id>
			<parentGroupId>7650c1c1-3605-4f85-a98a-50613736ef3e</parentGroupId>
			<position>
				<x>942.3630596858279</x>
				<y>333.6494219881407</y>
			</position>
			<config>
				<bulletinLevel>WARN</bulletinLevel>
				<comments></comments>
				<concurrentlySchedulableTaskCount>1
				</concurrentlySchedulableTaskCount>
				<defaultConcurrentTasks>
					<entry>
						<key>TIMER_DRIVEN</key>
						<value>1</value>
					</entry>
					<entry>
						<key>EVENT_DRIVEN</key>
						<value>0</value>
					</entry>
					<entry>
						<key>CRON_DRIVEN</key>
						<value>1</value>
					</entry>
				</defaultConcurrentTasks>
				<defaultSchedulingPeriod>
					<entry>
						<key>TIMER_DRIVEN</key>
						<value>0 sec</value>
					</entry>
					<entry>
						<key>CRON_DRIVEN</key>
						<value>* * * * * ?</value>
					</entry>
				</defaultSchedulingPeriod>
				<descriptors>
					<entry>
						<key>Regular Expression</key>
						<value>
							<defaultValue>(?s:^.*$)</defaultValue>
							<description>The Search Value to search for in the FlowFile
								content. Only used for 'Literal Replace' and 'Regex Replace'
								matching strategies</description>
							<displayName>Search Value</displayName>
							<dynamic>false</dynamic>
							<name>Regular Expression</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>true</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Replacement Value</key>
						<value>
							<defaultValue>$1</defaultValue>
							<description>The value to insert using the 'Replacement
								Strategy'. Using &quot;Regex Replace&quot; back-references to
								Regular Expression capturing groups are supported, but
								back-references that reference capturing groups that do not
								exist in the regular expression will be treated as literal
								value. Back References may also be referenced using the
								Expression Language, as '$1', '$2', etc. The single-tick marks
								MUST be included, as these variables are not
								&quot;Standard&quot; attribute names (attribute names must be
								quoted unless they contain only numbers, letters, and _).
							</description>
							<displayName>Replacement Value</displayName>
							<dynamic>false</dynamic>
							<name>Replacement Value</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>true</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Character Set</key>
						<value>
							<defaultValue>UTF-8</defaultValue>
							<description>The Character Set in which the file is encoded
							</description>
							<displayName>Character Set</displayName>
							<dynamic>false</dynamic>
							<name>Character Set</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Maximum Buffer Size</key>
						<value>
							<defaultValue>1 MB</defaultValue>
							<description>Specifies the maximum amount of data to buffer (per
								file or per line, depending on the Evaluation Mode) in order to
								apply the replacement. If 'Entire Text' (in Evaluation Mode) is
								selected and the FlowFile is larger than this value, the
								FlowFile will be routed to 'failure'. In 'Line-by-Line' Mode, if
								a single line is larger than this value, the FlowFile will be
								routed to 'failure'. A default value of 1 MB is provided,
								primarily for 'Entire Text' mode. In 'Line-by-Line' Mode, a
								value such as 8 KB or 16 KB is suggested. This value is ignored
								if the &lt;Replacement Strategy&gt; property is set to one of:
								Append, Prepend, Always Replace</description>
							<displayName>Maximum Buffer Size</displayName>
							<dynamic>false</dynamic>
							<name>Maximum Buffer Size</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Replacement Strategy</key>
						<value>
							<allowableValues>
								<description>Insert the Replacement Value at the beginning of
									the FlowFile or the beginning of each line (depending on the
									Evaluation Mode). For &quot;Line-by-Line&quot; Evaluation Mode,
									the value will be prepended to each line. For &quot;Entire
									Text&quot; evaluation mode, the value will be prepended to the
									entire text.</description>
								<displayName>Prepend</displayName>
								<value>Prepend</value>
							</allowableValues>
							<allowableValues>
								<description>Insert the Replacement Value at the end of the
									FlowFile or the end of each line (depending on the Evluation
									Mode). For &quot;Line-by-Line&quot; Evaluation Mode, the value
									will be appended to each line. For &quot;Entire Text&quot;
									evaluation mode, the value will be appended to the entire text.
								</description>
								<displayName>Append</displayName>
								<value>Append</value>
							</allowableValues>
							<allowableValues>
								<description>Interpret the Search Value as a Regular Expression
									and replace all matches with the Replacement Value. The
									Replacement Value may reference Capturing Groups used in the
									Search Value by using a dollar-sign followed by the Capturing
									Group number, such as $1 or $2. If the Search Value is set to
									.* then everything is replaced without even evaluating the
									Regular Expression.</description>
								<displayName>Regex Replace</displayName>
								<value>Regex Replace</value>
							</allowableValues>
							<allowableValues>
								<description>Search for all instances of the Search Value and
									replace the matches with the Replacement Value.</description>
								<displayName>Literal Replace</displayName>
								<value>Literal Replace</value>
							</allowableValues>
							<allowableValues>
								<description>Always replaces the entire line or the entire
									contents of the FlowFile (depending on the value of the
									&lt;Evaluation Mode&gt; property) and does not bother searching
									for any value. When this strategy is chosen, the &lt;Search
									Value&gt; property is ignored.</description>
								<displayName>Always Replace</displayName>
								<value>Always Replace</value>
							</allowableValues>
							<defaultValue>Regex Replace</defaultValue>
							<description>The strategy for how and what to replace within the
								FlowFile's text content.</description>
							<displayName>Replacement Strategy</displayName>
							<dynamic>false</dynamic>
							<name>Replacement Strategy</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Evaluation Mode</key>
						<value>
							<allowableValues>
								<displayName>Line-by-Line</displayName>
								<value>Line-by-Line</value>
							</allowableValues>
							<allowableValues>
								<displayName>Entire text</displayName>
								<value>Entire text</value>
							</allowableValues>
							<defaultValue>Entire text</defaultValue>
							<description>Run the 'Replacement Strategy' against each line
								separately (Line-by-Line) or buffer the entire file into memory
								(Entire Text) and run against that.</description>
							<displayName>Evaluation Mode</displayName>
							<dynamic>false</dynamic>
							<name>Evaluation Mode</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
				</descriptors>
				<lossTolerant>false</lossTolerant>
				<penaltyDuration>30 sec</penaltyDuration>
				<properties>
					<entry>
						<key>Regular Expression</key>
						<value>(.*)</value>
					</entry>
					<entry>
						<key>Replacement Value</key>
						<value></value>
					</entry>
					<entry>
						<key>Character Set</key>
						<value>UTF-8</value>
					</entry>
					<entry>
						<key>Maximum Buffer Size</key>
						<value>1 MB</value>
					</entry>
					<entry>
						<key>Replacement Strategy</key>
						<value>Regex Replace</value>
					</entry>
					<entry>
						<key>Evaluation Mode</key>
						<value>Entire text</value>
					</entry>
				</properties>
				<runDurationMillis>0</runDurationMillis>
				<schedulingPeriod>0 sec</schedulingPeriod>
				<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
				<yieldDuration>1 sec</yieldDuration>
			</config>
			<name>ReplaceText</name>
			<relationships>
				<autoTerminate>true</autoTerminate>
				<description>FlowFiles that could not be updated are routed to this
					relationship</description>
				<name>failure</name>
			</relationships>
			<relationships>
				<autoTerminate>false</autoTerminate>
				<description>FlowFiles that have been successfully processed are
					routed to this relationship. This includes both FlowFiles that had
					text replaced and those that did not.</description>
				<name>success</name>
			</relationships>
			<state>STOPPED</state>
			<style />
			<supportsEventDriven>true</supportsEventDriven>
			<supportsParallelProcessing>true</supportsParallelProcessing>
			<type>org.apache.nifi.processors.standard.ReplaceText</type>
		</processors>
		<processors>
			<id>eaf9714a-44f4-49e8-a6bf-2bf1032a9023</id>
			<parentGroupId>7650c1c1-3605-4f85-a98a-50613736ef3e</parentGroupId>
			<position>
				<x>392.5838973528753</x>
				<y>336.25811151305174</y>
			</position>
			<config>
				<bulletinLevel>WARN</bulletinLevel>
				<comments></comments>
				<concurrentlySchedulableTaskCount>1
				</concurrentlySchedulableTaskCount>
				<defaultConcurrentTasks>
					<entry>
						<key>TIMER_DRIVEN</key>
						<value>1</value>
					</entry>
					<entry>
						<key>EVENT_DRIVEN</key>
						<value>0</value>
					</entry>
					<entry>
						<key>CRON_DRIVEN</key>
						<value>1</value>
					</entry>
				</defaultConcurrentTasks>
				<defaultSchedulingPeriod>
					<entry>
						<key>TIMER_DRIVEN</key>
						<value>0 sec</value>
					</entry>
					<entry>
						<key>CRON_DRIVEN</key>
						<value>* * * * * ?</value>
					</entry>
				</defaultSchedulingPeriod>
				<descriptors>
					<entry>
						<key>HTTP Method</key>
						<value>
							<defaultValue>GET</defaultValue>
							<description>HTTP request method (GET, POST, PUT, DELETE, HEAD,
								OPTIONS). Arbitrary methods are also supported. Methods other
								than POST and PUT will be sent without a message body.
							</description>
							<displayName>HTTP Method</displayName>
							<dynamic>false</dynamic>
							<name>HTTP Method</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>true</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Remote URL</key>
						<value>
							<description>Remote URL which will be connected to, including
								scheme, host, port, path.</description>
							<displayName>Remote URL</displayName>
							<dynamic>false</dynamic>
							<name>Remote URL</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>true</supportsEl>
						</value>
					</entry>
					<entry>
						<key>SSL Context Service</key>
						<value>
							<description>The SSL Context Service used to provide client
								certificate information for TLS/SSL (https) connections.
							</description>
							<displayName>SSL Context Service</displayName>
							<dynamic>false</dynamic>
							<identifiesControllerService>org.apache.nifi.ssl.SSLContextService
							</identifiesControllerService>
							<name>SSL Context Service</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Connection Timeout</key>
						<value>
							<defaultValue>5 secs</defaultValue>
							<description>Max wait time for connection to remote service.
							</description>
							<displayName>Connection Timeout</displayName>
							<dynamic>false</dynamic>
							<name>Connection Timeout</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Read Timeout</key>
						<value>
							<defaultValue>15 secs</defaultValue>
							<description>Max wait time for response from remote service.
							</description>
							<displayName>Read Timeout</displayName>
							<dynamic>false</dynamic>
							<name>Read Timeout</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Include Date Header</key>
						<value>
							<allowableValues>
								<displayName>True</displayName>
								<value>True</value>
							</allowableValues>
							<allowableValues>
								<displayName>False</displayName>
								<value>False</value>
							</allowableValues>
							<defaultValue>True</defaultValue>
							<description>Include an RFC-2616 Date header in the request.
							</description>
							<displayName>Include Date Header</displayName>
							<dynamic>false</dynamic>
							<name>Include Date Header</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Follow Redirects</key>
						<value>
							<allowableValues>
								<displayName>True</displayName>
								<value>True</value>
							</allowableValues>
							<allowableValues>
								<displayName>False</displayName>
								<value>False</value>
							</allowableValues>
							<defaultValue>True</defaultValue>
							<description>Follow HTTP redirects issued by remote server.
							</description>
							<displayName>Follow Redirects</displayName>
							<dynamic>false</dynamic>
							<name>Follow Redirects</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Attributes to Send</key>
						<value>
							<description>Regular expression that defines which attributes to
								send as HTTP headers in the request. If not defined, no
								attributes are sent as headers. Also any dynamic properties set
								will be sent as headers. The dynamic property key will be the
								header key and the dynamic property value will be interpreted as
								expression language will be the header value.</description>
							<displayName>Attributes to Send</displayName>
							<dynamic>false</dynamic>
							<name>Attributes to Send</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Basic Authentication Username</key>
						<value>
							<description>The username to be used by the client to
								authenticate against the Remote URL. Cannot include control
								characters (0-31), ':', or DEL (127).</description>
							<displayName>Basic Authentication Username</displayName>
							<dynamic>false</dynamic>
							<name>Basic Authentication Username</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Basic Authentication Password</key>
						<value>
							<description>The password to be used by the client to
								authenticate against the Remote URL.</description>
							<displayName>Basic Authentication Password</displayName>
							<dynamic>false</dynamic>
							<name>Basic Authentication Password</name>
							<required>false</required>
							<sensitive>true</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Proxy Host</key>
						<value>
							<description>The fully qualified hostname or IP address of the
								proxy server</description>
							<displayName>Proxy Host</displayName>
							<dynamic>false</dynamic>
							<name>Proxy Host</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Proxy Port</key>
						<value>
							<description>The port of the proxy server</description>
							<displayName>Proxy Port</displayName>
							<dynamic>false</dynamic>
							<name>Proxy Port</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Put Response Body In Attribute</key>
						<value>
							<description>If set, the response body received back will be put
								into an attribute of the original FlowFile instead of a separate
								FlowFile. The attribute key to put to is determined by
								evaluating value of this property. </description>
							<displayName>Put Response Body In Attribute</displayName>
							<dynamic>false</dynamic>
							<name>Put Response Body In Attribute</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>true</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Max Length To Put In Attribute</key>
						<value>
							<defaultValue>256</defaultValue>
							<description>If routing the response body to an attribute of the
								original (by setting the &quot;Put response body in
								attribute&quot; property or by receiving an error status code),
								the number of characters put to the attribute value will be at
								most this amount. This is important because attributes are held
								in memory and large attributes will quickly cause out of memory
								issues. If the output goes longer than this value, it will be
								truncated to fit. Consider making this smaller if able.
							</description>
							<displayName>Max Length To Put In Attribute</displayName>
							<dynamic>false</dynamic>
							<name>Max Length To Put In Attribute</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Digest Authentication</key>
						<value>
							<allowableValues>
								<displayName>true</displayName>
								<value>true</value>
							</allowableValues>
							<allowableValues>
								<displayName>false</displayName>
								<value>false</value>
							</allowableValues>
							<defaultValue>false</defaultValue>
							<description>Whether to communicate with the website using Digest
								Authentication. 'Basic Authentication Username' and 'Basic
								Authentication Password' are used for authentication.
							</description>
							<displayName>Use Digest Authentication</displayName>
							<dynamic>false</dynamic>
							<name>Digest Authentication</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Always Output Response</key>
						<value>
							<allowableValues>
								<displayName>true</displayName>
								<value>true</value>
							</allowableValues>
							<allowableValues>
								<displayName>false</displayName>
								<value>false</value>
							</allowableValues>
							<defaultValue>false</defaultValue>
							<description>Will force a response FlowFile to be generated and
								routed to the 'Response' relationship regardless of what the
								server status code received is or if the processor is configured
								to put the server response body in the request attribute. In the
								later configuration a request FlowFile with the response body in
								the attribute and a typical response FlowFile will be emitted to
								their respective relationships.</description>
							<displayName>Always Output Response</displayName>
							<dynamic>false</dynamic>
							<name>Always Output Response</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Trusted Hostname</key>
						<value>
							<description>Bypass the normal truststore hostname verifier to
								allow the specified remote hostname as trusted. Enabling this
								property has MITM security implications, use wisely. Will still
								accept other connections based on the normal truststore hostname
								verifier. Only valid with SSL (HTTPS) connections.</description>
							<displayName>Trusted Hostname</displayName>
							<dynamic>false</dynamic>
							<name>Trusted Hostname</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Add Response Headers to Request</key>
						<value>
							<allowableValues>
								<displayName>true</displayName>
								<value>true</value>
							</allowableValues>
							<allowableValues>
								<displayName>false</displayName>
								<value>false</value>
							</allowableValues>
							<defaultValue>false</defaultValue>
							<description>Enabling this property saves all the response
								headers to the original request. This may be when the response
								headers are needed but a response is not generated due to the
								status code received.</description>
							<displayName>Add Response Headers to Request</displayName>
							<dynamic>false</dynamic>
							<name>Add Response Headers to Request</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Content-Type</key>
						<value>
							<defaultValue>${mime.type}</defaultValue>
							<description>The Content-Type to specify for when content is
								being transmitted through a PUT or POST.</description>
							<displayName>Content-Type</displayName>
							<dynamic>false</dynamic>
							<name>Content-Type</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>true</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Use Chunked Encoding</key>
						<value>
							<allowableValues>
								<displayName>true</displayName>
								<value>true</value>
							</allowableValues>
							<allowableValues>
								<displayName>false</displayName>
								<value>false</value>
							</allowableValues>
							<defaultValue>false</defaultValue>
							<description>When POST'ing or PUT'ing content set this property
								to true in order to not pass the 'Content-length' header and
								instead send 'Transfer-Encoding' with a value of 'chunked'. This
								will enable the data transfer mechanism which was introduced in
								HTTP 1.1 to pass data of unknown lengths in chunks.
							</description>
							<displayName>Use Chunked Encoding</displayName>
							<dynamic>false</dynamic>
							<name>Use Chunked Encoding</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Penalize on &quot;No Retry&quot;</key>
						<value>
							<allowableValues>
								<displayName>true</displayName>
								<value>true</value>
							</allowableValues>
							<allowableValues>
								<displayName>false</displayName>
								<value>false</value>
							</allowableValues>
							<defaultValue>false</defaultValue>
							<description>Enabling this property will penalize FlowFiles that
								are routed to the &quot;No Retry&quot; relationship.
							</description>
							<displayName>Penalize on &quot;No Retry&quot;</displayName>
							<dynamic>false</dynamic>
							<name>Penalize on &quot;No Retry&quot;</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Authorization</key>
						<value>
							<description></description>
							<displayName>Authorization</displayName>
							<dynamic>true</dynamic>
							<name>Authorization</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>true</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Dropbox-API-Arg</key>
						<value>
							<description></description>
							<displayName>Dropbox-API-Arg</displayName>
							<dynamic>true</dynamic>
							<name>Dropbox-API-Arg</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>true</supportsEl>
						</value>
					</entry>
				</descriptors>
				<lossTolerant>false</lossTolerant>
				<penaltyDuration>30 sec</penaltyDuration>
				<properties>
					<entry>
						<key>HTTP Method</key>
						<value>POST</value>
					</entry>
					<entry>
						<key>Remote URL</key>
						<value>https://content.dropboxapi.com/2-beta-2/files/download
						</value>
					</entry>
					<entry>
						<key>SSL Context Service</key>
					</entry>
					<entry>
						<key>Connection Timeout</key>
						<value>5 secs</value>
					</entry>
					<entry>
						<key>Read Timeout</key>
						<value>15 secs</value>
					</entry>
					<entry>
						<key>Include Date Header</key>
						<value>True</value>
					</entry>
					<entry>
						<key>Follow Redirects</key>
						<value>True</value>
					</entry>
					<entry>
						<key>Attributes to Send</key>
					</entry>
					<entry>
						<key>Basic Authentication Username</key>
					</entry>
					<entry>
						<key>Basic Authentication Password</key>
					</entry>
					<entry>
						<key>Proxy Host</key>
					</entry>
					<entry>
						<key>Proxy Port</key>
					</entry>
					<entry>
						<key>Put Response Body In Attribute</key>
					</entry>
					<entry>
						<key>Max Length To Put In Attribute</key>
						<value>256</value>
					</entry>
					<entry>
						<key>Digest Authentication</key>
						<value>false</value>
					</entry>
					<entry>
						<key>Always Output Response</key>
						<value>true</value>
					</entry>
					<entry>
						<key>Trusted Hostname</key>
					</entry>
					<entry>
						<key>Add Response Headers to Request</key>
						<value>false</value>
					</entry>
					<entry>
						<key>Content-Type</key>
						<value></value>
					</entry>
					<entry>
						<key>Use Chunked Encoding</key>
						<value>false</value>
					</entry>
					<entry>
						<key>Penalize on &quot;No Retry&quot;</key>
						<value>false</value>
					</entry>
					<entry>
						<key>Authorization</key>
						<value>Bearer zSCLBwLpyHAAAAAAAAAFzvPryoQaeMq3Drnc3xecI-y5B2Yi-ECHEyBd2Z69hI3i</value>
					</entry>
					<entry>
						<key>Dropbox-API-Arg</key>
						<value>{&quot;path&quot;:&quot;${path_lower}&quot;}</value>
					</entry>
				</properties>
				<runDurationMillis>0</runDurationMillis>
				<schedulingPeriod>0 sec</schedulingPeriod>
				<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
				<yieldDuration>1 sec</yieldDuration>
			</config>
			<name>InvokeHTTP</name>
			<relationships>
				<autoTerminate>true</autoTerminate>
				<description>The original FlowFile will be routed on any type of
					connection failure, timeout or general exception. It will have new
					attributes detailing the request.</description>
				<name>Failure</name>
			</relationships>
			<relationships>
				<autoTerminate>true</autoTerminate>
				<description>The original FlowFile will be routed on any status code
					that should NOT be retried (1xx, 3xx, 4xx status codes). It will
					have new attributes detailing the request.</description>
				<name>No Retry</name>
			</relationships>
			<relationships>
				<autoTerminate>true</autoTerminate>
				<description>The original FlowFile will be routed upon success (2xx
					status codes). It will have new attributes detailing the success of
					the request.</description>
				<name>Original</name>
			</relationships>
			<relationships>
				<autoTerminate>false</autoTerminate>
				<description>A Response FlowFile will be routed upon success (2xx
					status codes). If the 'Output Response Regardless' property is true
					then the response will be sent to this relationship regardless of
					the status code received.</description>
				<name>Response</name>
			</relationships>
			<relationships>
				<autoTerminate>true</autoTerminate>
				<description>The original FlowFile will be routed on any status code
					that can be retried (5xx status codes). It will have new attributes
					detailing the request.</description>
				<name>Retry</name>
			</relationships>
			<state>STOPPED</state>
			<style />
			<supportsEventDriven>false</supportsEventDriven>
			<supportsParallelProcessing>true</supportsParallelProcessing>
			<type>org.apache.nifi.processors.standard.InvokeHTTP</type>
		</processors>
		<processors>
			<id>a6b43010-bd0e-44cb-a379-f363151879c9</id>
			<parentGroupId>7650c1c1-3605-4f85-a98a-50613736ef3e</parentGroupId>
			<position>
				<x>393.0</x>
				<y>152.0</y>
			</position>
			<config>
				<bulletinLevel>WARN</bulletinLevel>
				<comments></comments>
				<concurrentlySchedulableTaskCount>1
				</concurrentlySchedulableTaskCount>
				<defaultConcurrentTasks>
					<entry>
						<key>TIMER_DRIVEN</key>
						<value>1</value>
					</entry>
					<entry>
						<key>EVENT_DRIVEN</key>
						<value>0</value>
					</entry>
					<entry>
						<key>CRON_DRIVEN</key>
						<value>1</value>
					</entry>
				</defaultConcurrentTasks>
				<defaultSchedulingPeriod>
					<entry>
						<key>TIMER_DRIVEN</key>
						<value>0 sec</value>
					</entry>
					<entry>
						<key>CRON_DRIVEN</key>
						<value>* * * * * ?</value>
					</entry>
				</defaultSchedulingPeriod>
				<descriptors>
					<entry>
						<key>Input Directory</key>
						<value>
							<description>The input directory from which to pull files
							</description>
							<displayName>Input Directory</displayName>
							<dynamic>false</dynamic>
							<name>Input Directory</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>true</supportsEl>
						</value>
					</entry>
					<entry>
						<key>File Filter</key>
						<value>
							<defaultValue>[^\.].*</defaultValue>
							<description>Only files whose names match the given regular
								expression will be picked up</description>
							<displayName>File Filter</displayName>
							<dynamic>false</dynamic>
							<name>File Filter</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Path Filter</key>
						<value>
							<description>When Recurse Subdirectories is true, then only
								subdirectories whose path matches the given regular expression
								will be scanned</description>
							<displayName>Path Filter</displayName>
							<dynamic>false</dynamic>
							<name>Path Filter</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Batch Size</key>
						<value>
							<defaultValue>10</defaultValue>
							<description>The maximum number of files to pull in each
								iteration</description>
							<displayName>Batch Size</displayName>
							<dynamic>false</dynamic>
							<name>Batch Size</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Keep Source File</key>
						<value>
							<allowableValues>
								<displayName>true</displayName>
								<value>true</value>
							</allowableValues>
							<allowableValues>
								<displayName>false</displayName>
								<value>false</value>
							</allowableValues>
							<defaultValue>false</defaultValue>
							<description>If true, the file is not deleted after it has been
								copied to the Content Repository; this causes the file to be
								picked up continually and is useful for testing purposes. If not
								keeping original NiFi will need write permissions on the
								directory it is pulling from otherwise it will ignore the file.
							</description>
							<displayName>Keep Source File</displayName>
							<dynamic>false</dynamic>
							<name>Keep Source File</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Recurse Subdirectories</key>
						<value>
							<allowableValues>
								<displayName>true</displayName>
								<value>true</value>
							</allowableValues>
							<allowableValues>
								<displayName>false</displayName>
								<value>false</value>
							</allowableValues>
							<defaultValue>true</defaultValue>
							<description>Indicates whether or not to pull files from
								subdirectories</description>
							<displayName>Recurse Subdirectories</displayName>
							<dynamic>false</dynamic>
							<name>Recurse Subdirectories</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Polling Interval</key>
						<value>
							<defaultValue>0 sec</defaultValue>
							<description>Indicates how long to wait before performing a
								directory listing</description>
							<displayName>Polling Interval</displayName>
							<dynamic>false</dynamic>
							<name>Polling Interval</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Ignore Hidden Files</key>
						<value>
							<allowableValues>
								<displayName>true</displayName>
								<value>true</value>
							</allowableValues>
							<allowableValues>
								<displayName>false</displayName>
								<value>false</value>
							</allowableValues>
							<defaultValue>true</defaultValue>
							<description>Indicates whether or not hidden files should be
								ignored</description>
							<displayName>Ignore Hidden Files</displayName>
							<dynamic>false</dynamic>
							<name>Ignore Hidden Files</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Minimum File Age</key>
						<value>
							<defaultValue>0 sec</defaultValue>
							<description>The minimum age that a file must be in order to be
								pulled; any file younger than this amount of time (according to
								last modification date) will be ignored</description>
							<displayName>Minimum File Age</displayName>
							<dynamic>false</dynamic>
							<name>Minimum File Age</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Maximum File Age</key>
						<value>
							<description>The maximum age that a file must be in order to be
								pulled; any file older than this amount of time (according to
								last modification date) will be ignored</description>
							<displayName>Maximum File Age</displayName>
							<dynamic>false</dynamic>
							<name>Maximum File Age</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Minimum File Size</key>
						<value>
							<defaultValue>0 B</defaultValue>
							<description>The minimum size that a file must be in order to be
								pulled</description>
							<displayName>Minimum File Size</displayName>
							<dynamic>false</dynamic>
							<name>Minimum File Size</name>
							<required>true</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
					<entry>
						<key>Maximum File Size</key>
						<value>
							<description>The maximum size that a file can be in order to be
								pulled</description>
							<displayName>Maximum File Size</displayName>
							<dynamic>false</dynamic>
							<name>Maximum File Size</name>
							<required>false</required>
							<sensitive>false</sensitive>
							<supportsEl>false</supportsEl>
						</value>
					</entry>
				</descriptors>
				<lossTolerant>false</lossTolerant>
				<penaltyDuration>30 sec</penaltyDuration>
				<properties>
					<entry>
						<key>Input Directory</key>
						<value>/home/hdfs/nifi</value>
					</entry>
					<entry>
						<key>File Filter</key>
						<value>list_files.json</value>
					</entry>
					<entry>
						<key>Path Filter</key>
					</entry>
					<entry>
						<key>Batch Size</key>
						<value>1</value>
					</entry>
					<entry>
						<key>Keep Source File</key>
						<value>true</value>
					</entry>
					<entry>
						<key>Recurse Subdirectories</key>
						<value>false</value>
					</entry>
					<entry>
						<key>Polling Interval</key>
						<value>0 sec</value>
					</entry>
					<entry>
						<key>Ignore Hidden Files</key>
						<value>true</value>
					</entry>
					<entry>
						<key>Minimum File Age</key>
						<value>0 sec</value>
					</entry>
					<entry>
						<key>Maximum File Age</key>
					</entry>
					<entry>
						<key>Minimum File Size</key>
						<value>0 B</value>
					</entry>
					<entry>
						<key>Maximum File Size</key>
					</entry>
				</properties>
				<runDurationMillis>0</runDurationMillis>
				<schedulingPeriod>*/5 * * * * ?</schedulingPeriod>
				<schedulingStrategy>CRON_DRIVEN</schedulingStrategy>
				<yieldDuration>1 sec</yieldDuration>
			</config>
			<name>GetFile</name>
			<relationships>
				<autoTerminate>false</autoTerminate>
				<description>All files are routed to success</description>
				<name>success</name>
			</relationships>
			<state>STOPPED</state>
			<style />
			<supportsEventDriven>false</supportsEventDriven>
			<supportsParallelProcessing>true</supportsParallelProcessing>
			<type>org.apache.nifi.processors.standard.GetFile</type>
		</processors>
	</snippet>
	<timestamp>03/13/2016 20:47:23 CET</timestamp>
</template>